body{
    display: flex;
    flex-direction: column;
    flex:1,1, auto;
    font-family: 'Courier New', Courier, monospace;
}

.top_block, footer{
    background-color: #1f2937;

}

.top_block{
    width: 100%;
    height: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
    align-items: baseline;
}

li,a{
    text-decoration: none;
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;

}

.hero{
    color: #f9faf8;
    font-size: 24px;
    font-weight:bolder;
}

.secondary_hero{
    color: #e5e7eb;
    font-size: 18px;
}

.header_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: auto;
    height: 400px;
}

.image{
    padding: 5px;
    background-color: #e5e7eb;
    height: 90%;
    width: 90%;
    align-self: center;
}

.info_title{
    display: flex;
    justify-content: center;
}

.images{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    height: fit-content;
}

.top_content{
    display: flex;
    flex-direction:row ;
    max-height: 400px;
    width: 100%;
    justify-content: space-evenly;
}

.testimonial_container{
    background-color:#e5e7eb ;
    width: 1000px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.testimonial{
    display: flex;
    background-color:#e5e7eb ;
    font-weight: lighter;
    font-style: italic;
    flex-direction: column;
    justify-content: center;
}

.top_content_left{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width:auto;
    height: 300px;
    align-self: flex-start;
}

.info_image{
    width: 70%;
    height: 30%;
    padding: 10px;
    background-color: #1f2937;
}
button{
    background-color: #3882f6;
    border-radius: 4px;
    color: #e5e7eb;
    font-weight: bolder;
    border-color:#3882f6 ;
    width: fit-content;
    height: fit-content;
    border-style: solid;
}

.info_title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.white_border_button{
    border-color: #e5e7eb;
    align-self: center;
}

.sign_up_container{
    display: flex;
    justify-content: center;
}

.sign_up{
    display: flex;
    border-radius: 4px;
    background-color: #3882f6;
    justify-content: space-evenly;
    width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}
.image_container{
    display: flex;
    justify-content: center;
    flex-basis: 400px;
    width: auto;
}
#testimonial{
    font-size: 36px;
    color: #1f2937;
    align-self: center;
}

#testimonial_credit{
    font-size: 25px;
    align-self: flex-end;


}

footer{
    display: flex;
    justify-content: center;
    color: #f9faf8;
}

.image_detail{
    font-size: 18px;
}

.sign_up_header{
    font-size: 20px;
    color: #e5e7eb;
    font-weight: bolder;
}